<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Information.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Information.Properties.Settings>
            <setting name="MainBackground" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ButtonBackground" serializeAs="String">
                <value>#FF2D2D30</value>
            </setting>
            <setting name="Meter_ListBackground" serializeAs="String">
                <value>#FF2D2D30</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>#FF0066CC</value>
            </setting>
            <setting name="MeterForeground" serializeAs="String">
                <value>#FF0066CC</value>
            </setting>
            <setting name="Background" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ButtonColor" serializeAs="String">
                <value>#FF2D2D30</value>
            </setting>
            <setting name="OverlayColor" serializeAs="String">
                <value>#FF0066CC</value>
            </setting>
            <setting name="cpuString" serializeAs="String">
                <value>CPU</value>
            </setting>
            <setting name="timeVisibility" serializeAs="String">
                <value>Visible</value>
            </setting>
            <setting name="dateVisibility" serializeAs="String">
                <value>Visible</value>
            </setting>
            <setting name="cpuVisibility" serializeAs="String">
                <value>Visible</value>
            </setting>
            <setting name="ramVisibility" serializeAs="String">
                <value>Visible</value>
            </setting>
            <setting name="movingVisibility" serializeAs="String">
                <value>Hidden</value>
            </setting>
            <setting name="timeMargin" serializeAs="String">
                <value>10,10,0,0</value>
            </setting>
            <setting name="dateMargin" serializeAs="String">
                <value>10,44,0,0</value>
            </setting>
            <setting name="cpuMargin" serializeAs="String">
                <value>0,10,10,0</value>
            </setting>
            <setting name="ramMargin" serializeAs="String">
                <value>0,44,10,0</value>
            </setting>
            <setting name="MainTop" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MainLeft" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MainHeight" serializeAs="String">
                <value>869</value>
            </setting>
            <setting name="MainWidth" serializeAs="String">
                <value>960</value>
            </setting>
            <setting name="MainStartLocation" serializeAs="String">
                <value>CenterSceen</value>
            </setting>
            <setting name="MainState" serializeAs="String">
                <value>Normal</value>
            </setting>
        </Information.Properties.Settings>
    </userSettings>
</configuration>